# Logs
logs
*.log
npm-debug.log
.nyc_output/

# dependencies
node_modules
database.sqlite3

# testing
coverage

# misc
.DS_Store
*.pem
.build
volume

# debug
npm-debug.log*

# environment variables
.env
.aws/
